ok
{% extends 'base.html' %}

{% block title %}BAC - Choisir une serie{% endblock %}

{% block content %}
<h2>BAC - Choisir votre serie</h2>

<div style="margin-top: 20px;">
    <a href="/bac/C" class="btn">Serie C - Maths-Physique</a>
    <a href="/bac/D" class="btn">Serie D - Bio-Chimie</a>
    <a href="/bac/TI" class="btn">Serie TI - Technique Industrielle</a>
    <a href="/bac/A4" class="btn">Serie A4 - Litterature</a>
</div>

<br><br>
<a href="/" style="color: #1A5276;">Retour accueil</a>
{% endblock %}