ok
{% extends 'base.html' %}

{% block title %}Probatoire - Choisir une Serie{% endblock %}

{% block content %}
<h2>Probatoire - Choisir votre Serie</h2>

<div style="margin-top: 20px;">
    <a href="/annales/Probatoire/C/Mathematiques" class="btn">Serie C</a>
    <a href="/annales/Probatoire/D/Mathematiques" class="btn">Serie D</a>
    <a href="/annales/Probatoire/TI/Mathematiques" class="btn">Serie TI</a>
    <a href="/annales/Probatoire/A4/Mathematiques" class="btn">Serie A4</a>
</div>

<br><br>
<a href="/" style="color: #1A5276;">Retour accueil</a>
{% endblock %}